@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
*{
    font-family: 'Montserrat', 'Nanum Gothic', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: -0.5px;
}

body{
    /* background-color: black; */
    overflow-y: hidden;
}

a{
    color: white;
    text-emphasis: none;
    text-decoration: none;
}

.row{
    /* z-index: 10; */
    width:100%;
    top:30px;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.left, .right{
    margin:30px;
    color:white;
    align-self: center;
}

.sub-nav > *{
    font-size:14px;

    margin: 0 17px;
}

.sub-nav i{
    font-size: 18px;
}

.title{
    font-size: 35px;
    /* font-weight: ; */
}

.fullpage {
    height: 100vh;
    width: 100%;
    color:white;
    background-size:cover;
    background-position-x: center;
    overflow: hidden;
    /* left: -50%; */
}

.sections-menu{
    /* z-index: 11; */
    position: fixed;
    right: 1rem;
    top:50%;
    transform:translateY(-50%);
}

.sections-menu .menu-point{
    width:10px;
    height: 10px;
    background-color:#FFF;
    display: block;
    margin:1rem 0;
    opacity: 0.6;
    transition: .4s ease all;
    border-radius: 50%;
    cursor: pointer;
}

.sections-menu .menu-point.active{
    opacity: 1;
    transform: scale(1.5);
}

#nav{
    position: fixed;
    color:white;
    margin:30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top:10%;
}

#nav > ul{
    list-style: none;
}

#nav > ul > li{
    margin:30px 0;
    cursor: pointer;
    font-weight: bold;
    text-shadow: rgb(156, 156, 156) 2px 2px;
}

#nav > ul > li::after{
    display: block;
    content: '';
    width:0%;
    height: 2px;
    background-color: white;
}

#nav > ul > li:hover::after{
    animation: underline 0.3s forwards;
}

.footer{
    width:100%;
    height: 30vh;
    color:black;

    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin:60px auto;
}
.footer > div{
    width:40%;
}
.footer > div:last-child{
    font-size: 30px;
    text-align: center;
    color:black;
}
.footer > div:last-child > a{
    color: black;
}

@keyframes underline{
    from{
        width:0%;
    }
    to {
        width:100%;
    }
}